<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a New Recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name"><h5>Recipe name:</h5></label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-type"><h5>Choose a Recipe Type:</h5></label>
        <select name="recipe-type" class="recipe-type" id="recipe-type">
          <option value="main"> Main Dish </option>
          <option value="side"> Side Dish </option>
          <option value="snack"> Snack </option>
          <option value="dessert"> Dessert </option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipe-desc"><h5>Description:</h5></label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
       <div class="form-group">
        <label for="recipe-ingredients"><h5>Ingredients:</h5></label>
        <textarea class="form-input" id="recipe-ingredients" name="recipe-ingredients"></textarea>
      </div>
       <div class="form-group">
        <label for="recipe-directions"><h5>Directions:</h5></label>
        <textarea class="form-input" id="recipe-directions" name="recipe-directions"></textarea>
      </div>
      {{!-- <div class="form-group">
        <form action="/profile" method="post" enctype="multipart/form-data">
          <input type="file" name="avatar" />
        </form>
      </div> --}}
      <div class="form-group">
        <button type="submit" class="btn btn-secondary"> Add Recipe </button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>Submitted Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a class="link" href="/recipe/{{recipe.id}}">{{recipe.recipe_name}}</a></h4>
      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-danger" data-id="{{recipe.id}}"> DELETE </button>
      </div> --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
