<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a New Recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">Recipe name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        {{!-- <label for="recipe-type">Recipe type:</label> --}}
        {{!-- <input class="form-input" type="number" id="project-funding" name="project-funding" /> --}}
        <label for="recipe-type">Choose a Recipe Type:</label>
        <select name="recipe-type" id="recipe-type">
          <option value="main">Main-Dish</option>
          <option value="side">Side-Dish</option>
          <option value="snack">Snack</option>
          <option value="dessert">Dessert</option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipe-desc">description:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
       <div class="form-group">
        <label for="recipe-ingredients">ingredients:</label>
        <textarea class="form-input" id="recipe-ingredients" name="recipe-ingredients"></textarea>
      </div>
       <div class="form-group">
        <label for="recipe-directions">directions:</label>
        <textarea class="form-input" id="recipe-directions" name="recipe-directions"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Recipe</button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>Submitted Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
