.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #660000;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #260000;
  text-decoration: underline;
}

.link {
  color: #660000;
}

.link:hover {
  color: #660000;
}

.navbar{
  display:flex;
  justify-content: flex-end;
}
.btn-sear
{
  background-color: #230000;
  color:#FFF;
  border-color: #000;
}
.btn-sear:hover{
  background-color: #660000;
  color:#FFF;
  border-color: #000;
 }

 h2{
  color:#660000;
 }
 
 h4{
  color:#660000;
 }